@mixin line-clamp($lines: 1, $size: 1.5rem) {
	overflow: hidden !important;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	line-height: 1.5;
	max-height: calc(($size * $lines));
}

// -----------------------

.spotListItem {
	display: grid;
	grid-gap: 0.5rem 1rem;
	grid-template-columns: 120px auto 32px;
	grid-template-rows: auto 1fr auto;
	align-content: space-between;
	position: relative;
	height: 160px;
	grid-template-areas:
		'img title focus'
		'img desc desc'
		'img address address';
	padding: 0.5rem;
	border-radius: var(--border-radius);
	border: 2px solid var(--field);
	cursor: pointer;
	transition: border 0.13s ease;

	&:hover {
		border: 2px solid var(--accent);
	}
}

.img {
	display: grid;
	grid-area: img;
	width: 120px;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.title {
	grid-area: title;
	@include line-clamp(1, 3rem);

	a {
		&::before {
			position: absolute;
			content: '';
			inset: 0;
		}
	}
}

.description {
	grid-area: desc;
	@include line-clamp(2);
}

.address {
	grid-area: address;
	@include line-clamp(1);
}

.focus {
	display: grid;
	grid-area: focus;
}
