.authContainer {
	display: grid;
	grid-gap: 2.5rem;
	align-items: center;
	width: 360px;
	padding: 2rem 1rem;
}

.form {
	width: 100%;
	display: grid;
	grid-gap: 1.5rem;
}

.formButtons {
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	width: 100%;
	display: grid;
	grid-gap: 1rem;
}
