.root {
	--sidebar-width: 4.25rem;

	display: grid;
	height: 100vh;
	overflow: hidden;
	background-color: var(--bg);
	grid-template-rows: 2.5rem auto;
	grid-template-columns: var(--sidebar-width) auto;
	grid-template-areas: 'header header' 'sidebar content';
}

.content {
	display: grid;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

.header {
	z-index: 11;
	display: grid;
	overflow: hidden;
	grid-area: header;
	margin-left: calc(var(--sidebar-width) - 2px);
	border-bottom: 2px solid var(--field);
	background: var(--bg);
}

.sidebar {
	z-index: 2;
	background: var(--bg);
	grid-area: sidebar;
	display: grid;
	height: 100%;
	overflow: hidden;
	border-right: 2px solid var(--field);
}
