.root {
	--sidebar-width: 5rem;
	--card-width: 24rem;

	display: grid;
	height: 100vh;
	overflow: hidden;
	background-color: var(--bg);
	// grid-template-rows: 2.5rem auto;
	grid-template-columns: var(--sidebar-width) var(--card-width) auto;
	grid-template-areas: 'sidebar card content';
}

.content {
	display: grid;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

.sidebar {
	z-index: 2;
	background: var(--bg);
	grid-area: sidebar;
	display: grid;
	align-items: end;
	height: 100%;
	overflow: hidden;
	border-right: 2px solid var(--field);
}
