.Block {
	display: grid;
	grid-gap: 1rem;
	border-radius: var(--border-radius);
	padding: 1rem;
	background-color: var(--surface);
	align-content: start;
}

.col {
	grid-auto-flow: column;
}

.aic {
	align-items: center;
}

.sb {
	justify-content: space-between;
}

.ais {
	align-items: start;
}

.simple {
	background-color: transparent;
	border-radius: none;
}

.noPadding {
	padding: 0;
}
