.sidebar {
	padding: 1rem;
	justify-content: center;
	height: 100%;
	display: grid;
	align-content: space-between;
	grid-gap: 1rem;
	z-index: 2000;
}

.sidebarTop {
	display: grid;
	grid-gap: 1rem;
	justify-items: center;
}

.sidebarBottom {
	display: grid;
	grid-gap: 2rem;
	justify-items: center;
}

.linkItem {
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: column;
	padding: 1rem 1.5rem;
	text-decoration: none;
	background-color: transparent;
	justify-content: start;
	border-radius: var(--border-radius);
	transition: background 0.13s ease;

	&:hover {
		background-color: var(--hover);
	}
}
