.wrapper {
	--color-block-size: 4rem;
	overflow: hidden;
	display: grid;
	align-content: start;
	justify-content: start;
	height: 100%;
}

.colorList {
	display: grid;
	grid-gap: var(--gap);
	padding: 1rem;
	justify-items: start;
}

.colorItem {
	display: grid;
	grid-auto-flow: column;
	grid-gap: var(--gap);
	align-items: center;
	color: var(--text);
}

.colorPrewiew {
	width: var(--color-block-size);
	height: var(--color-block-size);
	border-radius: var(--border-radius);
	border: solid 0.25rem var(--black);
}
