.dark-theme {
	--bg: #16171d;
	--text: #bcbcbc;
	--secondary-text: #dbdbdb50;
	--primary: #4d8ba3;
	--secondary: #372857;
	--accent: #785e9b;
	// --field: #43368105;
	--field: #282a35;
	--surface: #27282d;
	--error-text: #ad364acf;
}

.light-theme {
	--bg: #dbdbdb;
	--text: #16171d;
	--secondary-text: #24242450;
	--primary: #5c9ab2;
	--secondary: #b7a8d7;
	--accent: #9b81c5;
	// --field: #8a7ec905;
	--field: #d9d4dd;
	--surface: #efefef;
	--error-text: #9a273ae3;
}

:root {
	--border-radius: 0.5rem;
	--padding: 1rem;
	--gap: 1rem;
	--white: #ffffff;
	--black: #000000;
	--font: 'Inter', sans-serif;
	--secondary-font: 'Merriweather', serif;
}
