.inputWrapper {
	position: relative;
	display: grid;
	grid-gap: 0.25rem;
}
// TODO: remove styled
.styledLabel {
	color: var(--text);
	font-size: 1rem;

	&:empty {
		display: none;
	}
}

.styledInput {
	color: var(--text);
	display: grid;
	align-items: center;
	border: none;
	border-radius: var(--border-radius);
	padding: 0.75rem 1.75rem 0.75rem 1rem;
	background-color: var(--field);
	font-size: 1rem;
	height: 3rem;
	width: 100%;
	position: relative;

	&:focus {
		outline: 3px solid var(--accent);
		outline-offset: -3px;
	}
}

.inputCleaner {
	position: absolute;
	right: 0.5rem;
	transform: translateY(50%);
	bottom: 1.5rem;
	width: 1rem;
	height: 1rem;
	display: grid;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;

	i {
		transition: color 0.13s ease;
		color: var(--secondary-text);
	}

	&:hover {
		i {
			color: var(--text);
		}
	}
}

.errorBlock {
	color: var(--error-text);
	font-size: 0.8rem;
}
