.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	position: absolute;
	z-index: 10;
	background-color: var(--surface);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	border-radius: var(--border-radius);
}

.dropdownContent.down {
	top: 100%;
}

.dropdownContent.up {
	bottom: 100%;
}
