.MainPage {
	display: flex;
	width: 100%;
	position: relative;
	grid-template-rows: auto;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mapActions {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 1rem;
	background-color: var(--field);
	border-radius: var(--border-radius);
}
