.spotPage {
	display: grid;
	grid-gap: 1rem;
	justify-content: space-between;
	align-content: start;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		'title focus'
		'img img'
		'desc desc'
		'adress adress';
}

.img {
	display: grid;
	grid-area: img;
	width: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.description {
	grid-area: desc;
}

.title {
	grid-area: title;
}

.address {
	grid-area: adress;
}

.focus {
	grid-area: focus;
}
